
section{
  margin-top: 20px;
}
.usuario{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.usuario Button{
  border-radius: 50px;
  padding: 8px;
}
.busca{
width: 100%;
height: 50px;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 3px;
}
.seach{
  position: relative;
}
.iconsh{
  position: absolute;
  right: 6%;
  top: 30%;
}

.cartoes{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  list-style: none;   
  position: relative; 
}
.buttom{
 background-image: linear-gradient(#00699B, #00B7CA
);
border-radius: 11.5px;
border-width: 0px;

}

.ajuda{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -3%;
  top: 60%;
  background-color: cyan;
  opacity: 0.5;
  padding: 2px;
  border-radius: 50px;
  align-items: center;
}
.ajuda2{
  margin-bottom: -10%;
}

img{
  width: 100%;
  height: 100%;
}

